@import '../../../../../../assets/styles/colors.scss';

.project-container{
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 12px 0px;
    border-radius: 4px;
    background-color: $card_background;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .header{
        padding: 0px 12px;
        display: flex;
        justify-content: space-between;
        position: relative;
        border-bottom: 2px solid $main_background;

        .name{
            font-size: 20px;
            color: $gray_4;
            font-weight: 600;
            text-align: left;
        }
        .key{
            text-decoration: none;
            font-size: 12px;
        }    

        .project-action{
            i{
                cursor: pointer;
                color:$primary_color2;
            }
        }
    }
    .body{
        padding: 12px 12px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .descripion{
            font-size: 12px;
            font-weight: 500;
            color: $gray_5;
        }
        .team-count,.task-count,.project-lead{
            margin-top: 8px;
            font-weight: 700;
            i{
                color: $gray_5;
            }
            .text{
                margin-left: 6px;

                .completed{
                    color: $success_green;
                }
            }
        }
    }

}