<div class="topbar">
    <div class="page-title">
            Projects
    </div>
    <div>
      <input type="text" name="" id="" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText">
    </div>
    <div>
      <span class="total-count">
              {{projects?.length ? projects.length : 0}}
      </span>
    </div>
    <div>
        <button (click)="createPorjectClicked()">Create Project</button>
    </div>
</div>
<div *ngIf="projects?.length" class="projects-container">
    <div *ngFor="let project of projects">
      <app-project-card [project]="project" (deleteProject)="deleteProject($event[0],$event[1])"></app-project-card>
    </div>
</div>
<div class="no-result" *ngIf="!projects || !projects.length">No Task Found Matching Your Search</div>

