<ngx-ui-loader
fgsColor="#0052CC"
pbColor="#0052CC"
[fgsTemplate]="foregroundSpinner"></ngx-ui-loader>

<ng-template #foregroundSpinner>
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</ng-template>

<div *ngIf="isLoggedIn()" class="container-fluid g-0">
    <app-header></app-header>
    <main class="">
        <app-drawer></app-drawer>
        <div class="display-content">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>

<div *ngIf="!isLoggedIn()">
    <router-outlet></router-outlet>
</div>