@import '../../../../assets/styles/dimentions.scss';
@import '../../../../assets/styles/colors.scss';

main{
    padding: 2rem 0.6rem;
    color: $primary_color2;
    background-color: $primary_color;

    ul{
        padding: 0px;
        li{
            list-style: none;
            display: flex;
            align-items: center;
            height: 2rem;
            margin: 5px;
            cursor: pointer;
            i{
                font-size: 12px;
                width: 20px;
                height: 20px;
                margin-left: 8px;
                margin-right: 12px;
                text-align: center;
                line-height: 20px;
            }

            span{
                font-size: 12px;
                a{
                  text-decoration: none;
                  color: $black;
                }
            }
        }

        li.active{
            border-left: 3px solid $primary_color2;
            background-color: $primary_color2_light;
            span a{
                color: $primary_color2;
            }
        }
    }
}