$main_background:#eee;
$card_background : #ffff;
$text-color:#0000;
$primary_color : #ffff;
$primary_color2 : #0052CC;
$primary_color2_light : #e6effc; 


$drawer_background : #fafbfc;
$drawer_line : #c7c0c0;;
$main_text_color:#172B4D;



// colors
$gray_1:#a9a6a6;
$gray_2:#DFE1E6;
$gray_3:#ebeced;
$gray_4:#464e56;
$gray_5:#868e94;



$black : #000000;


$success_green: #4BB543;